<div class="jumbotron">
  <h1>Chippy</h1>
  <p class="lead">
    Publish your giving one chip at a time.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/#calc">Set up your chips.<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Give in chips.</h4>
  <p>
    1 slack message = 1 chip given.
    <br>Give as many chips as you want and we'll let you know how much to give to your charity of choice at the end of the month.
    <br>Work out how much your chips should be worth <a href="/#calc">here</a>.
  </p>

  <h4>Better together.</h4>
  <p>
    Everytime you see someone post you know they're giving too. If you wanna back them up just @them with a thumbs up!
  </p>

  <h4>Make it fun.</h4>
  <p>Every donation is a blank canvas. Got a great selfie post? Perfect donation emoji? Inspiring message/article/song? Post it!</p>
</div>
